.image-pos {
    position: relative;
    text-align: center;
    color: white;
    margin-right: 10px;
}

.image-container {
    display: flex;
    justify-content: center;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    transform: translate(-50%, -50%);
    word-wrap: break-word;
}

.header_color {
    background-color: darkgrey;
}

.image-container {
    display: flex;
}

.image-pos {
    display: inline;
    margin-right: 10px;
}

.centered-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.img-opacity {
    opacity: 0.2;
}

.img-opacity:hover {
    opacity: 0.6;
}

.text-left {
    text-align: left;
}