{% extends "base.html" %}
{% block content %}

    <div class="row text-center">
        <h1>U-Wert und Ökobilanz (LCA)</h1>
    </div>
    <div class="row text-center">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <h4>Stellen Sie einfach Ihr Revit-Modell als JSON zur Verfügung und
                das System wird automatisch den U-Wert und die Ökobilanz (LCA)
                für Ihr Gebäude berechnen. Sie können auch verschiedene Materialien
                und Dicken für Ihr Projekt vergleichen.
            </h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <h4>Klicken Sie hier, um zu beginnen.
                <a href="{% url 'building:createProject' %}"
                   class="btn btn-primary"
                >Neues Projekt erstellen</a
                >
            </h4>
        </div>
    </div>
{% endblock %}