{% extends "base.html" %}

{% load bootstrap3 %}
{% load django_tables2 %}


{% load static %}

{% block content %}
    {% bootstrap_css %}

    <div class="row text-center">
            <h1>Comparison between two buildings</h1>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-6">
            <h1>Name: {{ first_building }}</h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">

            <h1>Name: {{ second_building }}</h1>
        </div>
        <h1 class=header_color>Wall</h1>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <table class="table table-striped">
                <thead>
                <td>Layer</td>
                <td>Name</td>
                <td>Thickness</td>
                </thead>
                {% for key, value in wall.items %}
                    {% for item in value %}
                        {% if not forloop.counter|divisibleby:2 %}
                            {% for key, value in item.items %}
                                <tr>
                                <td>{{ value.id }}</td>
                                <td>{{ key }}</td>
                                <td>{{ value.thickness }}</td>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </tr>
            </table>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6">
            <table class="table table-striped">
                <thead>
                <td>Layer</td>
                <td>Name</td>
                <td>Thickness</td>
                </thead>
                {% for key, value in wall.items %}
                    {% for item in value %}
                        {% if forloop.counter|divisibleby:2 %}
                            {% for key, value in item.items %}
                                <tr>
                                <td>{{ value.id }}</td>
                                <td>{{ key }}</td>
                                <td>{{ value.thickness }}</td>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </tr>
            </table>
        </div>
    </div>

    <div class="row text-center">

        <div class="col-xs-12 col-sm-12 col-md-3">
            {% for key, value in wall.items %}
                {% for item in value %}
                    {% if not forloop.counter|divisibleby:2 %}
                        {% for key, value in item.items %}
                            <p>{{ value.id }}) {{ key }} {{ value.thickness }} mm</p>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            {% for key, value in wall.items %}
                {% for item in value %}
                    {% if not forloop.counter|divisibleby:2 %}
                        {% for key, value in item.items %}
                            {% with 'material_images/'|add:key|add:'.jpg' as material_source_image %}
                                <div class="image-pos">
                                    <img src="{% static material_source_image %}"
                                         alt="{{ key }}"
                                         width="{{ value.thickness }}" height="150">
                                    <div class="centered">{{ value.id }}</div>
                                </div>
                                <br>
                            {% endwith %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            {% for key, value in wall.items %}
                {% for item in value %}
                    {% if forloop.counter|divisibleby:2 %}
                        {% for key, value in item.items %}
                            <p>{{ value.id }}) {{ key }} {{ value.thickness }} mm</p>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            {% for key, value in wall.items %}
                {% for item in value %}
                    {% if forloop.counter|divisibleby:2 %}
                        {% for key, value in item.items %}
                            {% with 'material_images/'|add:key|add:'.jpg' as material_source_image %}
                                <div class="image-pos">
                                    <img src="{% static material_source_image %}"
                                         alt="{{ key }}"
                                         width="{{ value.thickness }}" height="150">
                                    <div class="centered">{{ value.id }}</div>
                                </div>
                                <br>
                            {% endwith %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>




    {#    Roofbase  #}





    <div class="row text-center">

        <h1 class=header_color>Roof</h1>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <table class="table table-striped">
                <thead>
                <td>Layer</td>
                <td>Name</td>
                <td>Thickness</td>
                </thead>
                {% for key, value in roof.items %}
                    {% for item in value %}
                        {% if not forloop.counter|divisibleby:2 %}
                            {% for key, value in item.items %}
                                <tr>
                                <td>{{ value.id }}</td>
                                <td>{{ key }}</td>
                                <td>{{ value.thickness }}</td>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </tr>
            </table>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6">
            <table class="table table-striped">
                <thead>
                <td>Layer</td>
                <td>Name</td>
                <td>Thickness</td>
                </thead>
                {% for key, value in roof.items %}
                    {% for item in value %}
                        {% if forloop.counter|divisibleby:2 %}
                            {% for key, value in item.items %}
                                <tr>
                                <td>{{ value.id }}</td>
                                <td>{{ key }}</td>
                                <td>{{ value.thickness }}</td>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </tr>
            </table>
        </div>
    </div>

    <div class="row text-center">

        <div class="col-xs-12 col-sm-12 col-md-3">
            {% for key, value in roof.items %}
                {% for item in value %}
                    {% if not forloop.counter|divisibleby:2 %}
                        {% for key, value in item.items %}
                            <p>{{ value.id }}) {{ key }} {{ value.thickness }} mm</p>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            {% for key, value in roof.items %}
                {% for item in value %}
                    {% if not forloop.counter|divisibleby:2 %}
                        {% for key, value in item.items %}
                            {% with 'material_images/'|add:key|add:'.jpg' as material_source_image %}
                                <div class="image-pos">
                                    <img src="{% static material_source_image %}"
                                         alt="{{ key }}"
                                         width="{{ value.thickness }}" height="150">
                                    <div class="centered">{{ value.id }}</div>
                                </div>
                                <br>
                            {% endwith %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            {% for key, value in roof.items %}
                {% for item in value %}
                    {% if forloop.counter|divisibleby:2 %}
                        {% for key, value in item.items %}
                            <p>{{ value.id }}) {{ key }} {{ value.thickness }} mm</p>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            {% for key, value in roof.items %}
                {% for item in value %}
                    {% if forloop.counter|divisibleby:2 %}
                        {% for key, value in item.items %}
                            {% with 'material_images/'|add:key|add:'.jpg' as material_source_image %}
                                <div class="image-pos">
                                    <img src="{% static material_source_image %}"
                                         alt="{{ key }}"
                                         width="{{ value.thickness }}" height="150">
                                    <div class="centered">{{ value.id }}</div>
                                </div>
                                <br>
                            {% endwith %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>




    {#    Floor   #}


    <div class="row text-center">

        <h1 class=header_color>Floor</h1>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <table class="table table-striped">
                <thead>
                <td>Layer</td>
                <td>Name</td>
                <td>Thickness</td>
                </thead>
                {% for key, value in floor.items %}
                    {% for item in value %}
                        {% if not forloop.counter|divisibleby:2 %}
                            {% for key, value in item.items %}
                                <tr>
                                <td>{{ value.id }}</td>
                                <td>{{ key }}</td>
                                <td>{{ value.thickness }}</td>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </tr>
            </table>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6">
            <table class="table table-striped">
                <thead>
                <td>Layer</td>
                <td>Name</td>
                <td>Thickness</td>
                </thead>
                {% for key, value in floor.items %}
                    {% for item in value %}
                        {% if forloop.counter|divisibleby:2 %}
                            {% for key, value in item.items %}
                                <tr>
                                <td>{{ value.id }}</td>
                                <td>{{ key }}</td>
                                <td>{{ value.thickness }}</td>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </tr>
            </table>
        </div>
    </div>

    <div class="row text-center">

        <div class="col-xs-12 col-sm-12 col-md-3">
            {% for key, value in floor.items %}
                {% for item in value %}
                    {% if not forloop.counter|divisibleby:2 %}
                        {% for key, value in item.items %}
                            <p>{{ value.id }}) {{ key }} {{ value.thickness }} mm</p>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            {% for key, value in floor.items %}
                {% for item in value %}
                    {% if not forloop.counter|divisibleby:2 %}
                        {% for key, value in item.items %}
                            {% with 'material_images/'|add:key|add:'.jpg' as material_source_image %}
                                <div class="image-pos">
                                    <img src="{% static material_source_image %}"
                                         alt="{{ key }}"
                                         width="{{ value.thickness }}" height="150">
                                    <div class="centered">{{ value.id }}</div>
                                </div>
                                <br>
                            {% endwith %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            {% for key, value in floor.items %}
                {% for item in value %}
                    {% if forloop.counter|divisibleby:2 %}
                        {% for key, value in item.items %}
                            <p>{{ value.id }}) {{ key }} {{ value.thickness }} mm</p>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            {% for key, value in floor.items %}
                {% for item in value %}
                    {% if forloop.counter|divisibleby:2 %}
                        {% for key, value in item.items %}
                            {% with 'material_images/'|add:key|add:'.jpg' as material_source_image %}
                                <div class="image-pos">
                                    <img src="{% static material_source_image %}"
                                         alt="{{ key }}"
                                         width="{{ value.thickness }}" height="150">
                                    <div class="centered">{{ value.id }}</div>
                                </div>
                                <br>
                            {% endwith %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>


    {#    U-Value      #}


    <div class="row text-center">
        <h1 class=header_color>U-value</h1>
        <div class="col-xs-12 col-sm-12 col-md-6">
            {% render_table uvalue_table_first_building %}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            {% render_table uvalue_table_second_building %}
        </div>
    </div>




    {#    LCA   Wall   #}


    <div class="row text-center">
        <h1 class=header_color>LCA Wall</h1>
        <div class="col-xs-12 col-sm-12 col-md-6">
            {% render_table wall_lca_first_building %}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            {% render_table wall_lca_second_building %}
        </div>
    </div>



    {#    LCA   Roof   #}


    <div class="row text-center">
        <h1 class=header_color>LCA Roof</h1>
        <div class="col-xs-12 col-sm-12 col-md-6">
            {% render_table roof_lca_first_building %}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            {% render_table roof_lca_second_building %}
        </div>
    </div>



    {#    LCA   Floor   #}


    <div class="row text-center">
        <h1 class=header_color>LCA Floor</h1>
        <div class="col-xs-12 col-sm-12 col-md-6">
            {% render_table floor_lca_first_building %}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            {% render_table floor_lca_second_building %}
        </div>
    </div>
{% endblock %}