{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

    {% bootstrap_css %}
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-6">
                <h1>Neues Projekt erstellen</h1>
                <h3>Achtung</h3>
                <p>Sie müssen JSON entweder im <b>Textfeld</b> angeben oder als .txt-Datei
                    <b>hochladen</b>. Das JSON sollte dem folgenden Template folgen:</p>
                <code>
                    {
                    "floor": {
                    "material1": {
                    "id": 1
                    "thickness": "number in mm"
                    },
                    "material2": {
                    "id": 2
                    "thickness": "number in mm"
                    },
                    "...",
                    "area": "number in m2"
                    },
                    "roofbase": {
                    "material1": {
                    "id": 1
                    "thickness": "number in mm"
                    },
                    "...",
                    "area": "number in m2"
                    },
                    "wall": {
                    "material1": {
                    "id": 1
                    "thickness": "number in mm"
                    },
                    "...",
                    "area": "number in m2"
                    }
                    }</code>
            </div>
            <div class="col-sm-6">
                <form action="{% url 'building:createProject' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %} {% bootstrap_form form %} {% buttons %} <br/>
                    <button type="submit" class="btn btn-primary">Erstellen</button>
                    </form>
                    </div>
                    </div>
                    </div>

                {% endbuttons %} {% endblock %}
