{% extends "base.html" %}
{% load static %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}



{% block content %}


    <div class="row text-center">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <h1>Edit the Project</h1>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <form method="post">
                {% csrf_token %}
                {% for component in form.visible_fields %}
                    {% if component.name|slice:":4" == "name" %}
                        {% bootstrap_field component %}
                    {% endif %}
                {% endfor %}
        </div>
    </div>
    <br>
    {# Wall layers#}
    <div class="row text-center">
    <h1 class=header_color>Wall</h1>
    <div class="col-xs-12 col-sm-6 col-md-1">
        <h3>Id:</h3>
        {% for component in form.visible_fields %}
            {% if component.name|slice:":7" == "id_wall" %}
                {% bootstrap_field component %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">

        <h3>Layers:</h3>

        {% for component in form.visible_fields %}
            {% if component.name|slice:"-4:" == "wall" %}
                {% bootstrap_field component %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5">

        <h3>Thickness:</h3>
        {% for component in form.visible_fields %}
            {% if component.name|slice:":4" == "wall" %}
                {% bootstrap_field component %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3">
        <h2>Materials</h2>
        {% for component in form.visible_fields %}
            {% if component.name|slice:":4" == "wall" %}
                {% for id in form.visible_fields %}
                    {% if id.name|slice:"3:" == component.name %}
                        <p>{{ id.value }}) {{ component.name|slice:"5:" }} {{ component.value }} mm</p>
                        <br>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>

    <div class="col-xs-12 col-sm-12 col-md-9">

        <h2>Layers</h2>
        <div class="image-container">
            {% for component in form.visible_fields %}
                {% if component.name|slice:":4" == "wall" %}
                    {% for id in form.visible_fields %}
                        {% if id.name|slice:"3:" == component.name %}
                            <div class="image-pos">
                                <img src="{% static 'material_images/gipsputz.jpg' %}" alt="{{ component.name }}"
                                     width="{{ component.value }}" height="300">
                                <div class="centered">{{ id.value }}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
        <br>
    </div>


    {#    Roof layers#}
    <div class="row text-center">
        <h1 class=header_color>Roof</h1>

        <div class="col-xs-12 col-sm-6 col-md-1">
            <h3>Id:</h3>
            {% for component in form.visible_fields %}
                {% if component.name|slice:":7" == "id_roof" %}
                    {% bootstrap_field component %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">

            <h3>layers:</h3>

            {% for component in form.visible_fields %}
                {% if component.name|slice:"-4:" == "roof" %}
                    {% bootstrap_field component %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5">

            <h3>Thickness:</h3>
            {% for component in form.visible_fields %}
                {% if component.name|slice:":4" == "roof" %}
                    {% bootstrap_field component %}
                {% endif %}
            {% endfor %}
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3">
            <h2>Materials</h2>
            {% for component in form.visible_fields %}
                {% if component.name|slice:":4" == "roof" %}
                    {% for id in form.visible_fields %}
                        {% if id.name|slice:"3:" == component.name %}
                            <p>{{ id.value }}) {{ component.name|slice:"5:" }} {{ component.value }} mm</p>
                            <br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>

        <div class="col-xs-12 col-sm-12 col-md-9">

            <h2>Layers</h2>
            <div class="image-container">
                {% for component in form.visible_fields %}
                    {% if component.name|slice:":4" == "roof" %}
                        {% for id in form.visible_fields %}
                            {% if id.name|slice:"3:" == component.name %}
                                <div class="image-pos">
                                    <img src="{% static 'material_images/gipsputz.jpg' %}" alt="{{ component.name }}"
                                         width="{{ component.value }}" height="300">
                                    <div class="centered">{{ id.value }}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    {# Floor layers#}

    <div class="row text-center">
    <h1 class=header_color>Floor</h1>

    <div class="col-xs-12 col-sm-6 col-md-1">
        <h3>Id:</h3>
        {% for component in form.visible_fields %}
            {% if component.name|slice:":8" == "id_floor" %}
                {% bootstrap_field component %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">

        <h3>Floor layers:</h3>

        {% for component in form.visible_fields %}
            {% if component.name|slice:"-5:" == "floor" %}
                {% bootstrap_field component %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">

        <h3>Thickness:</h3>
        {% for component in form.visible_fields %}
            {% if component.name|slice:":5" == "floor" %}
                {% bootstrap_field component %}
            {% endif %}
        {% endfor %}

    </div>
    <div class="col-xs-12 col-sm-12 col-md-3">
        <h2>Materials</h2>
        {% for component in form.visible_fields %}
            {% if component.name|slice:":5" == "floor" %}
                {% for id in form.visible_fields %}
                    {% if id.name|slice:"3:" == component.name %}
                        <p>{{ id.value }}) {{ component.name|slice:"6:" }} {{ component.value }} mm</p>
                        <br>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>

    <div class="col-xs-12 col-sm-12 col-md-9">

        <h2>Layers</h2>
        <div class="image-container">
            {% for component in form.visible_fields %}
                {% if component.name|slice:":5" == "floor" %}
                    {% for id in form.visible_fields %}
                        {% if id.name|slice:"3:" == component.name %}
                            <div class="image-pos">
                                <img src="{% static 'material_images/gipsputz.jpg' %}" alt="{{ component.name }}"
                                     width="{{ component.value }}" height="300">
                                <div class="centered">{{ id.value }}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
        <br>
        {% buttons %}
            <button type="submit" class="btn btn-primary btn-lg">Save</button>
        {% endbuttons %}
        </form>
    </div>

{% endblock %}
