{% extends "base.html" %}
{% load bootstrap3 %}
{% load django_tables2 %}

{% block content %}

    {% bootstrap_css %}
    <div class="row text-center">
        <div class="col-xs-12 col-sm-6 col-md-6">
            {% if filter %}
                <form action="" method="get" class="form form-inline">
                    {% bootstrap_form filter.form layout='inline' %}
                    {% bootstrap_button 'filter' %}
                </form>
            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <form class="form-inline" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="first_building" placeholder="First project">
                </div>
                <div class="form-group">
                    <input type="text" name="second_building" placeholder="Second project">
                </div>
                <button type="submit" class="btn btn-primary">Compare Buildings</button>
            </form>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12 col-sm-6 col-md-12">
            {% render_table table %}
        </div>
    </div>
{% endblock %}