{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

    {% bootstrap_css %}
<div class="container">
  <div class="row text-center">
    <div class="col-sm-6">
      <h1>Create new material</h1>
    </div>
    <div class="col-sm-6">
      <form action="{% url 'building:createMaterial' %}" method="post">
        {% csrf_token %} {% bootstrap_form form %} {% buttons %} <br />
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>
</div>

{% endbuttons %} {% endblock %}