{% extends "base.html" %}
{% load bootstrap3 %}
{% load django_tables2 %}

{% block content %}
    <div class="row text-center">
        {% bootstrap_css %}
        <div class="col-xs-12 col-sm-6 col-md-6">
            {% if filter %}
                <form action="" method="get" class="form form-inline">
                    {% bootstrap_form filter.form layout='inline' %}
                    {% bootstrap_button 'filter' %}
                </form>
            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="d-flex justify-content-end">
                <form method="post" class="ml-2">
                    {% csrf_token %}
                    <button class="btn btn-info" type="submit" name="export_material">Export materials</button>
                </form>
                <form method="post" enctype="multipart/form-data" class="form-inline">
                    <button class="btn btn-info" type="submit" name="import_material">Import materials</button>
                    <div class="form-group">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="file" name="file" accept=".txt" value="Default File Name">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12 col-sm-12 col-md-12">
            {% render_table table %}
        </div>
    </div>
{% endblock %}